:root {
    --with-color: #fff;
    --black-color: #000;
    --black-color: #333;
    --grey-color: #7d7d7d;
    --red-color: red;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    list-style: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}