/* footer  */
.sig-up {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
}

.sig-up h1 {
    flex: 0.4;
}

.sig-up h1,
.sig-up span {
    margin-top: 10px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 90;
}

.sig-up span {
    color: #F72603;
}

.sig-up button {
    color: white;
    background-color: #505050;
    outline: none;
    border-style: none;
    padding: 10px 0;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400px;
    flex: 0.2;
}
.sig-up button:hover {
    background-color: #EA6060;
}

.end {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.tech-photos,
.editor-picks,
.discover,
.about-tech {
    margin-top: 35px;
    flex: 0.1;
}

.tech-photos h1,
.editor-picks h1,
.discover h1,
.about-tech h1 {
    font-size: 14px;
    line-height: 18px;
    margin-right: 13px;
}

.about-tech figcaption {
    font-size: 15px;
    opacity: .6;
    line-height: 25px;
    margin-left: -40px;
    width: 250px;
}

.discover a {
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
    opacity: 1;
    color: #505050;
}

.editor-picks img {
    width: 65px;
    height: 75px;
    margin-left: -40px;
    margin-top: 15px;
}
.editor-picks figcaption {
    margin-left: 15px;
}
.editor-picks h2 { 
    font-size: 14px;
    width: 180px;
    font-weight: 500;
}
figcaption a {
    color: #505050;
}
.entity_rate i{
    font-size: 10px;
    color: rgb(233, 233, 101);
}

.tech-photos_img img {
    width: 88px;
    height: 65px;
}

.tech-photos_img {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 2px;
}
.footer-social {
    margin-top: 20px;
}
.footer-social a{
    font-size: 12px;
    padding-right: 30px;
    color: #505050;
}
/* cuon trang  */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #50a1ad;
    padding: 7px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity 0.5s;
}

.fa-angle-up {
    color: white;
}

#back-to-top:hover {
    opacity: 0.7;
}