/* header  */
.header {
    width: 1140px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

.header_days-now span,
.header_login a {
    font-size: 1.2rem;
    color: var(--grey-color);
    letter-spacing: 0.8px;
    text-decoration: none;
}

.header_login span:nth-child(3) {
    --grey-color: var(--black-color);
}

.header_vertical-line {
    margin: 18px 0;
    display: flex;
}

.header_days-link {
    display: flex;
}
.header_days-link a {
    color: black;
    font-size: 1.3rem;
    width: 40px;
    height: 35px;
}

.header_lauge-search {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
}
/* nav  */
.nav-bar {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--black-color);
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--with-color);
    z-index: 1000;
}

.nav-list {
    width: 700px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    padding: 11px 0;
}

.nav-list_items a {
    color: var(--black-color);
    text-decoration: none;
    padding: 8px 17px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 20px;
}

.nav-list_items a:hover {
    cursor: pointer;
    color: var(--red-color);
}

/* the end  */