
*{
    color: var(--black-color);
}

.bg-gaming {
    background-image: url(../img/bg-gaming.gif);
    width: 100%;
    height: 522px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-star {
    color: var(--yellow-color);
    font-size: 1rem;
    margin-right: 2px;
    margin-top: 2px;
}

.fa-comments,
.fa-square-share-nodes {
    color: var(--grey-color);
}

.fa-angles-right {
    font-size: 1.4rem;
}

.entity_share a+a {
    padding-left: 10px;
}

.entity_share a {
    font-size: 1.9rem;
}

.web {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
.title-h1 {
    background-image: var(--green-pastel-color);
    color: var(--with-color);
    padding: 5px;
}
/* body  */
.main {
    max-width: 1140px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main h1 {
    font-weight: 550;
}
.main-left {
    flex: 0.605;
}

.main-left img:hover{
    animation: none;
}
.main-right {
    flex: 0.37;
}

img {
    width: 100%;
    object-fit: cover;
    
}
img:hover {
    animation: zoomInOut 0.5s forwards;
}

.entity_wrapper {
    transform: translateY(20px);
    transition: opacity 2s, transform 2s;
}
.entity_wrapper h1 a {
    font-size: 2rem;
    font-weight: 550;
}

.entity_wrapper h1 {
    margin-bottom: 13px;
}

.entity_meta {
    margin-bottom: 8px;
}

.entity_meta a {
    font-size: 1.35rem;
    font-weight: normal;
}

.entity_meta span {
    opacity: 0.5;
    font-size: 1.35rem;
}

.entity_rate,
.entity_share {
    margin-bottom: 20px;
}

.fa-square-share-nodes {
    margin-right: 2px;
}

.num {
    font-weight: bold;
    font-size: 1.5rem;
}

.share {
    opacity: .5;
    font-size: 1.5rem;
    margin-right: 10px;
}

.main-left p {
    font-size: 1.35rem;
    margin-top: 22px;
    line-height: 22.5px;
    color: #7D7D7D;
}

.entity_wrapper+.entity_wrapper {
    margin-top: 30px;
}

.image-container {
    position: relative;
    width: 385px;
    overflow: hidden;
}
.image {
    width: 385px;
    object-fit: cover;
    height: 400px;
}
.image-wrapper {
    display: flex;
    transition: transform 1.1s ease-in-out;
}

/* Định dạng nút Quay Lại */
.prev-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Định dạng nút Ảnh Tiếp Theo */
.next-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.next-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.entity_img {
    display: flex;
    flex-wrap: wrap-reverse;
}
.image-wrapper-2 img {
    width: 300px;
    height: 198.5px;
}
.image-wrapper-2 {
    flex: 0.1;
}
.fa-chevron-left,
.fa-chevron-right {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
/* popular  */
.a-within-links {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1rem;
    background-color: var(--violet-color);
    text-transform: uppercase;
    padding: 4px;
    color: var(--with-color);
    z-index: 1;
}
.popular_news h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-right: 40px;
}
.popular_news img {
    width: 120px;
    height: 100%;
}

.popular_news figure {
    margin-bottom: 20px;
    position: relative;
}
figcaption h2 a {
    font-size: 15px;
    font-weight: 550;
    line-height: 18px;
}
figcaption h2 {
    margin-bottom: 13px;
}
figcaption .entity_share {
    margin-top: 20.5px;
}
figcaption {
    padding-left: 15px;
}
.more_news {
    margin-top: 30px;
    margin-bottom: 50px;
}
.same_css_news .popular_news {
    margin-bottom: 30px;
}
.editor {
    display: flex;
}
.editor img {
    width: 160px;
    height: 160px;
}
.editor a {
    font-size: 1.35rem;
    margin-left: 25px;
    line-height: 23px;
    opacity: .5;
}
.editor_read figcaption {
    font-size: 1.35rem;
    line-height: 23px;
    opacity: .5;
}
.editor_read figcaption {
    margin-top: 30px;
    margin-left: -15px;
}
.editor_read {
    margin-bottom: 40px;
}
.readmore {
    background-color: #EA6060;
    color: var(--with-color); 
    font-size: 15px; 
    padding: 11px;
}
.readmore:hover {
    color: var(--sky-color);
}
.goeshere a img {
    width: 125px;
    height: 125px;
    margin-left: 20px;
}
.goeshere {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    gap: 30px;
    margin-top: 65px;
}
.btn {
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid var(--gray-color);
    border-bottom: 2px solid var(--gray-color);
    padding: 30px 0;
}
.btn-e+.btn-e {
    margin-left: 10px;
}
.btn-e {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
}
.btn .fa-angles-left,
.btn .fa-angles-right {
    font-size: 0.6rem;
   
}
.btn-e:nth-child(1),
.btn-e:nth-child(7) {
    background-image: linear-gradient(0, #CBC2ED, #F5C5EB);
}

#btn-ads2,
#btn-ads1 {
    position: absolute;
    top: 0;
    right: 60px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    opacity: .8;
}

:is(#close-ads1 img,#close-ads2 img):hover {
    animation: none;
}