*{
    text-decoration: none;
    font-family: system-ui, Roboto;
    object-fit: cover;
}
.body {
    max-width: 1140px;
    margin: auto;
}
body {
    padding: 0px;
    margin: 0px;
}
/* MAIN */
.row {
    display: flex;
    justify-content: space-between;
}
.main-border-button a {
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: all .3s;
}
.main-border-button a:hover {
    background-color: #fff;
    color: #2a2a2a;
}
  
.main-banner {
    padding-top: 50px;
}
  
.thumb img {
    height: 553px;
    width: 640px;
    overflow: hidden;
}
  
.main-banner .left-content .inner-content {
    position: absolute;
    left: 250px;
    top: 65%;
    transform: translateY(-50%);
  }
.main-banner .left-content .inner-content h4 {
    color: #fff;
    margin-top: -10px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}
.main-banner .left-content .inner-content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
}
  
.main-banner .right-content .right-first-image {
    margin-bottom: 30px;
}
.main-banner .right-content .right-first-image .thumb {
    position: relative;
    text-align: center;
}
.main-banner .right-content .right-first-image .thumb img {
    height: 260px;
    width: 470px;
    overflow: hidden;
}

.main-banner .right-content .right-first-image .thumb .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .inner-content span {
    font-size: 18px;
    color: #fff;
    font-style: italic;
}

.main-banner .right-content .right-first-image .thumb .hover-content {
    position: absolute;
    text-align: center;
    background-color: rgba(42,42,42,.97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    width: 440px;
    height: 230px;
    top: 15px;
    left: 15px;
}

.main-banner .right-content .right-first-image .thumb:hover .hover-content {
    opacity: 1;
    visibility: visible;
    left: 15px;
    top: 15px;
}
 
.main-banner .right-content .right-first-image .thumb .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-banner .right-content .right-first-image .thumb .hover-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.main-banner .right-content .right-first-image .thumb .hover-content p {
    color: #fff;
    font-size: 15px;
    width: 330px;
    padding: 0px 20px;
    margin-bottom: 20px;
}
/* TITLE */
.title {
    display: flex;
    margin-bottom: 20px;
}
.title h1 {
    font-size: 24px;
    color: #505050;
}
.title-mobile h1 {
    width: 110px;
}
.title-audio{
    margin-top: 30px;
    width: 750px;
}
.title-audio h1 {
    width: 95px;
}
.title-gaming h1 {
    width: 125px;
}
.title-today {
    margin-top: 15px;
    padding: 0;
}
.title-author h1, .title-social h1, .title-today h1{
    font-size: 18px;
    color: #505050;
    width: 160px;
}
.title-author, .title-social, .title-camera  {
    margin-top: 30px;
}
.title-camera h1 {
    width: 130px;
}
.title-computing h1 {
    width: 150px;
}
.line1 {
    margin-top: 37px;
    background-color: #505050;
    height: 2px;
    width: 150px;
}
.line2 {
    margin-top: 37px;
    background-color: #1c1c1b;
    height: 2px;
    width: 100%;
    opacity: 0.1;
}
/* INNER */
.news {
    font-size: 11px;
    color: #505050;
    border-left: 4px solid #505050;
    padding: 0 5px;
    
}
/* Secondary */
.secondary-banner,.date,.border1,.border2,.border3,.border4,.border5 {
    display: flex;
    justify-content: space-between;
}

#myVideo::-webkit-media-controls-current-time-display,
#myVideo::-webkit-media-controls-time-remaining-display,
#myVideo::-webkit-media-controls-play-button,
#myVideo::-webkit-media-controls-timeline {
    display: none;
}
  

.left-down {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 260px;
    margin-top: 30px;
}
.img{
    width: 360px;
    height: 260px;
}
.left-image,.right-image {
    position: relative;
}
.text {
    position: absolute;
    top: 80px;
    left: 30px;
}

.text p {
    color: #2a2a2a;
    font-size: 25px;
}

.secondary-banner .right-content {
    width: 350px;
}
.secondary-banner .right-content .date p{
    margin-top: 30px;
    font-size: 13px;
    font-style: italic;
}
.secondary-banner .right-content .information .border1,
.secondary-banner .right-content .information .border2,
.secondary-banner .right-content .information .border3,
.secondary-banner .right-content .information .border4,
.secondary-banner .right-content .information .border5 {
    margin-bottom: 10px;
    height: 110px;
    width: 350px;
    padding-top: 20px;
}
.secondary-banner .right-content .information .border:hover .border1 {
    opacity: 1;
    visibility: visible;
    background-image: url(../img/samsung.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;

} 
.secondary-banner .right-content .information .border:hover .border2 {
    opacity: 1;
    visibility: visible;
    background-image: url(../img/oppo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
}
.secondary-banner .right-content .information .border:hover .border3 {
    opacity: 1;
    visibility: visible;
    background-image: url(../img/xiaomi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
}
.secondary-banner .right-content .information .border:hover .border4 {
    opacity: 1;
    visibility: visible;
    background-image: url(../img/iphone15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
} 
.secondary-banner .right-content .information .border:hover .border5 {
    opacity: 1;
    visibility: visible;
    background-image: url(../img/huaweii.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
} 

.secondary-banner .right-content .information .border h1{
    font-size: 35px;
    font-weight: 350;
    color: #505050;
    width: 30px;
    padding-left: 15px;
    margin: 0;
}
.secondary-banner .right-content .information .border p {
    font-size: 17px;
    color: black;
    line-height: 24px;
    margin-top: 0;
}
.secondary-banner .right-content .information .border span {
    font-size: 13px;
    color: black;
    opacity: 0.5;
}
.secondary-banner .right-content .information .border .fa-solid {
    font-size: 11px;
}
.new-today {
    margin-left: 20px;
    border-left: 1px solid black;
    padding-left: 20px;
    height: 50px;
}
/* THIRD */
.audio, .third-banner .audio .left-content .first-content, .social,.categories{
    display: flex;
}

.third-banner .audio .left-content .first-content .wrapper {
    text-align: center;
    height: 270px;
    width: 370px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 30px;
}
.third-banner .audio .left-content .first-content .wrapper .zoom-img {
    text-align: center;
    height: 100%;
    width: 100%;
    transition: all 0.8s;
    background-size: cover;
}
.third-banner .audio .left-content .first-content .wrapper .first {
    background-image: url(../img/audio-hearphone.jpg);
}
.third-banner .audio .left-content .first-content .wrapper .second {
    background-image: url(../img/audio-hearphone2.jpg);
}
.third-banner .audio .left-content .first-content .wrapper .third {
    background-image: url(../img/audio-hearphone3.jpg);
}
.third-banner .audio .left-content .first-content .wrapper:hover .zoom-img {
    transform: scale(1.2);
}

.third-banner .audio .left-content .first-content .audio-content {
    margin-left: 30px;
    width: 350px;
}
.third-banner .audio .left-content .first-content .audio-content h1 {
    font-size: 25px;
    color: #505050;
    margin-top: 10px;
    margin-bottom: 5px;
}
.third-banner .audio .left-content .first-content .audio-content p {
    font-size: 14.5px;
    color: #505050;
    line-height: 22px;
    margin-top: 0;
}
.third-banner .audio .right-content {
    margin-left: 40px;
}

.third-banner .audio .right-content .up-content img {
    height: 260px;
    width: 350px;
}
.third-banner .audio .right-content .up-content p {
    font-size: 14.5px;
    color: #505050;
    line-height: 22px;
    margin-bottom: 30px;
}
.third-border-button a {
    font-size: 13px;
    color: white;
    background-color: #5A5A5A;
    padding: 8px 30px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    transition: all .3s;
}
.third-border-button a:hover {
    background-color: #d3a73f;
    color: #e8dddd;
}

.third-banner .audio .right-content .down-content .social .fa-brands{
    padding-right: 30px;
    color: #505050;
    font-size: 16px;
}
.third-banner .audio .right-content .down-content .categories{
    font-size: 12px;
    font-weight: 700;
    color: #505050;
    justify-content: space-between;
    margin: 15px 0;
}
.third-banner .audio .right-content .down-content .categories a{
    font-size: 12px;
    color: #505050;
    text-transform: uppercase;
}
.third-banner .audio .right-content .down-content hr {
    opacity: 0.4;
}
.show a{
    font-size: 12px;
    color: #9d9b9b;
}
.show {
    margin-top: 20px;
}
.show a:hover {
    color: #505050;
}

/* FORTH */
.gaming {
    display: flex;
    justify-content: space-between;
}
.image,.gaming-content {
    width: 360px;
    height: 255px;
    border-radius: 3%;
}
.forth-banner .gaming .first-content .up-content,
.forth-banner .gaming .first-content .down-content,
.forth-banner .gaming .first-content .gaming-content {
    margin-bottom: 25px;
}

.forth-banner .gaming .first-content .gaming-content h1{
    font-size: 30px;
    color: #505050;
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.forth-banner .gaming .first-content .gaming-content  p{
    font-size: 14.5px;
    color: #505050;
    line-height: 22px;
    margin-top: 0;
}
/* FIFTH */
.camera{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
}

.editor h1{
    color: #525353;
    font-size: 40px;
    font-weight: 750;
    line-height: 20px;
    margin-top: 15px;
}
.editor p{
    color: #6e6e6e;
    font-style: italic;
    line-height: 25px;
    font-size: 16.5px;
    width: 450px;
}
.icon {
    font-size: 30px;
    color: #8fa155;
    margin-right: 15px;
}
.se-cont {
    width: 350px;
}
.se-cont h1 {
    color: #505050;
    font-size: 23.5px;
    font-weight: 750;
    line-height: 30px;
}
hr {
    width: 355px;
    opacity: 0.2;
}
.editor-img img {
    margin-top: 35px;
    height: 455px;
    width: 655px;
}
.comparison {
    display: flex; 
    margin-top: 30px;
}
.insight {
    background-color: #8fa155;
    color: white;
    font-size: 12px;
    padding: 4px;
    text-align: center;
}


/* SIXTH */
.sixth-banner .computing .first-content,
.sixth-banner .computing .second-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.sixth-banner .computing .first-content .first-image img {
    height: 550px;
    width: 555px;
}
.sixth-banner .computing .first-content .first-image{
    height: 550px;
    position: relative;
    margin-bottom: 30px;
}
.sixth-banner .computing .first-content .first-image .computing-content {
    position: absolute;
    text-align: center;
    width: 490px;
    top: 340px;
    left: 30px;
}
.sixth-banner .computing .first-content .first-image .computing-content h1 {
    color: white;
    font-size: 28px;
}
.style-computing {
    color: white;
    font-size: 15px;
    background-color: #eb6a43;
    padding: 5px 5px;
}
.sixth-banner .computing .second-content .first-image img {
    height: 230px;
    width: 465px;
    margin-bottom: 10px;
}
.sixth-banner .computing .second-content .first-image .computing-text h1 {
    color: #505050;
    font-size: 22px;
    width: 465px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.sixth-banner .computing .second-content .second-image .computing-content {
    display: flex;
    width: 370px;
}
.sixth-banner .computing .second-content .second-image  .computing-content img {
    height: 96px;
    width: 95px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.computing-content {
    width: 400px;
}
.computing-content .computing-text h1{
    color: #292828;
    font-size: 16.5px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 5px;
}

/* SLIDE */
#slider {
    width: 250px;
    max-width: 100%;
}
#slider input[type=radio]{
    display: none;
}
#slider label {
    cursor: pointer;
    text-decoration: none;
}
#slides { 
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
#overflow {
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770,0.000,0.175,1.000);
    width: 400%;
    height: 355px;
} 
#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}  
#slides .slide-1, #slides .slide-2, #slides .slide-3 {
    background-color: #eb6a43;
}
#slides .slide-content h1{
    color: white;
    font-size: 24px;
    line-height: 33px;
}
#slides .slide-content p{
    color: #f1eeee;
    font-size: 16px;
    line-height: 24px;
}
.slide-content {
    padding: 25px;
}
.line {
    background-color: white;
    height: 3.5px;
    width: 50px;
}
#bullets {
    position: absolute;
    margin: -30px 70px 0;
}
#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #f08464;
    margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
    background-color: white;
}







/* YOUTUBE */
.youtube {
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    width: 1140px;
    height: 370px;
    margin-top: 40px;
    padding: 50px
}
.se-le iframe, .se-ri iframe {
    margin-bottom: 20px;
    margin-right: 10px;
}


/* AUTHOR */
.fa-regular {
    font-size: 10px;
    padding: 0 5px  0 0;
}

.time span{
    color: #7d7c7c;
    font-size: 11px;
}
.time strong {
    font-size: 14px; 
    padding-right: 20px;
    font-weight: 600;
}
.in-time p{
    color: white;
    font-size: 12px;
}